/*  --------------------------------------------------------------
Media Query 991px Responsive  
--------------------------------------------------------------   */
@media (max-width: 991px) {
    h1 {
        font-size: 20px;
        letter-spacing: 10px;
    }

    h2 {
        font-size: 16px;
        letter-spacing: 5px;
    }

    .heading-border-black {
        padding: 15px 30px;
        border: solid 5px #282828;
    }

    .heading-border-white {
        padding: 15px 30px;
        border: solid 5px #fff;
    }

    /*  --------------------------------------------------------------
    Navbar  
    --------------------------------------------------------------   */

    .navbar {
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 0px 25px;
    }

    .navbar .nav-link {
        text-align: center;
    }

    .navbar.active {
        padding: 0px 25px;
    }

    .navbar .nav-link {
        padding: 5px;
    }

    /*  --------------------------------------------------------------
    Navbar End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Navbar Toggler  
    --------------------------------------------------------------   */

    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        margin-top: 27px;
        margin-bottom: 23px;
        outline: none !important;
    }

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }

    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }

    /*  --------------------------------------------------------------
    Navbar Toggler End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Intro Banner  
    --------------------------------------------------------------   */
    /* .intro-banner {
        margin-top: 70px;
        height: 100% !important;
        min-height: 100%;
    } */

    /*  --------------------------------------------------------------
    Intro Banner End
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Philosophy  
    --------------------------------------------------------------   */

    .philosophy-details {
        padding: 25px;
    }

    .philosophy-content-img2 {
        margin-top: 0px;
    }

    /*  --------------------------------------------------------------
    Philosophy End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Welcome  
    --------------------------------------------------------------   */

    .text-overlay {
        margin-left: 0;
    }

    /*  --------------------------------------------------------------
    Welcome End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    About Us  
    --------------------------------------------------------------   */

    .about-content p {
        width: 100%;
    }

    .about-para {
        margin-bottom: 30px;
    }

    /*  --------------------------------------------------------------
    About Us End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Portfolio  
    --------------------------------------------------------------   */

    .grid-sizer,
    .grid-item {
        width: 100%;
    }

    /*  --------------------------------------------------------------
    Portfolio End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Team  
    --------------------------------------------------------------   */

    .team-content-para {
        width: 100%;
    }

    .team-members-img {
        margin-bottom: 30px;
    }

    /*  --------------------------------------------------------------
    Team End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Services  
    --------------------------------------------------------------   */

    .service-content h4 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    /*  --------------------------------------------------------------
    Services End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Packages  
    --------------------------------------------------------------   */

    .package-para {
        width: 100%;
    }

    /*  --------------------------------------------------------------
    Packages End 
    --------------------------------------------------------------   */

}

/*  --------------------------------------------------------------
Media Query 991px Responsive End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Media Query 1024px Responsive  
--------------------------------------------------------------   */
@media (max-width: 1024px) {

    /*  --------------------------------------------------------------
    Navbar  
    --------------------------------------------------------------   */
    .navbar .nav-link {
        letter-spacing: 0px;
    }

    .navbar .logo-heading {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .navbar .logo-para {
        font-size: 7px;
        letter-spacing: 1px;
    }

    /*  --------------------------------------------------------------
    Navbar End 
    --------------------------------------------------------------   */

    /*  --------------------------------------------------------------
    Packages End 
    --------------------------------------------------------------   */
    .package-price-table img {
        width: 150px;
    }

    .package-price-table .package-price-table-heading h2 {
        font-size: 24px;
    }

    .package-price-table .btn-black {
        line-height: 30px;
        padding: 0px;
        font-size: 16px;
    }

    /*  --------------------------------------------------------------
    Packages End 
    --------------------------------------------------------------   */
}

/*  --------------------------------------------------------------
Media Query 1024px Responsive End 
--------------------------------------------------------------   */