* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

a {
    color: #252525;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #626262;
    text-decoration: none;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 20px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

h3 {

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

section {
    position: relative;
    overflow: hidden;
    background: #fff;

}

.lineborder {
    margin: 30px 0;
}

.decorators {
    width: 170px;
    max-width: 170px;
    margin: 20px 0;
}

.btn {
    background: transparent;
    border-radius: 0;
    border: 0;
    font-weight: 700;
    position: relative;
    line-height: 40px;
    padding: 0 40px;
    font-size: 14px;
    letter-spacing: .2em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    outline: 1px solid transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
    text-transform: uppercase;
}

.btn-default {
    display: inline-block;
    color: white;
}

.btn-default:hover {
    border-color: white;
}

.btn:after,
.btn:before {
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background: white;
}

.btn:before {
    left: -8px;
}

.btn:hover:before {
    left: 0;
}

.btn:after {
    right: -8px;
}

.btn:hover:after {
    right: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: white;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    box-shadow: none;
}

.btn-black {
    color: #000;
}

.btn-black:after,
.btn-black:before {
    background: #000;
}

.btn-black:hover {
    color: white;
    background-color: #000;
    border-color: #000;
}

.heading-border-black {
    color: #333;
    padding: 25px 50px;
    border: solid 10px #000;
    display: inline-block;
    margin-bottom: 50px;
}

.heading-border-white {
    color: #fff;
    padding: 25px 50px;
    border: solid 10px #fff;
    display: inline-block;
    letter-spacing: 6px;
}

/*  --------------------------------------------------------------
Modal  
--------------------------------------------------------------   */
.modal {
    padding-right: 0px !important;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    border-radius: 0px !important;
    border: none !important;
    min-height: 100vh;
}

/*  --------------------------------------------------------------
Modal End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Owl Carousel  
--------------------------------------------------------------   */

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent !important;
    border-radius: 0px !important;
}

/*  --------------------------------------------------------------
Owl Carousel End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Overlay 
--------------------------------------------------------------   */

.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(Colorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.radial-overlay,
#portfolio .black-overlay {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(Colorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

/*  --------------------------------------------------------------
Overlay End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Preloader  
--------------------------------------------------------------   */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingspinner {
    pointer-events: none;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #eee;
    border-top-color: #046674;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    margin-top: 50%;
    margin-left: 35%;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.preloader img {
    width: 250px;
}

/*  --------------------------------------------------------------
Preloader End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Navbar  
--------------------------------------------------------------   */

.navbar {
    padding: 15px 50px;
}

.navbar .nav-link {
    color: #777 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 3px;
    padding: 10px;
    margin: 10px;
    outline: none;
    white-space: nowrap;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #d5d5d5 !important;
    text-decoration: none;
}

.navbar .nav-link.active {
    color: #d5d5d5 !important;
}

.navbar .navbar-brand {
    text-align: center;
    margin-top: -25px;
}

.navbar .navbar-brand:hover {
    color: #5e5e5e !important;
}

.navbar .logo-heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}

.navbar .logo-para {
    font-weight: 500;
    color: #fff;
    line-height: 0px;
}

/*  --------------------------------------------------------------
Navbar End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Navbar Scroll  
--------------------------------------------------------------   */

.navbar.active {
    background: #000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 50px;
}

.navbar.active .nav-link {
    color: #777 !important;
    outline: none;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #d5d5d5 !important;
}

.navbar.active .nav-link.active {
    color: #d5d5d5 !important;
}

/*  --------------------------------------------------------------
Navbar Scroll End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Header Banner  
--------------------------------------------------------------   */

.header-banner {
    position: relative;
    overflow: hidden;
}

#particles-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.header-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-banner-welcome-detail h3 {
    padding: 30px;
}

.header-banner-welcome-detail p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*  --------------------------------------------------------------
Header Banner End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Philosophy  
--------------------------------------------------------------   */

.philosophy-details {
    /* background-color: #1d1d1d; */
    background-color: #000;
    padding: 55px;
}

.philosophy-content {
    padding-top: 15px;
}

.philosophy-content p {
    font-size: 14px;
    text-align: justify;
}

.philosophy-logo {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100%;
}

.philosophy-content-img2 {
    margin-top: 35px;
}

/*  --------------------------------------------------------------
Philosophy End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Welcome  
--------------------------------------------------------------   */

.white-overlay {
    background: transparent url('../images/background/gradient.png') bottom right repeat-y;
    top: 0;
    height: 100%;
    right: 0;
    position: absolute;
    width: 160px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 4;
}

.welcome-content {
    padding-top: 100px;
}

.welcome-content .decorators {
    width: 120px;
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.welcome-content p {
    padding: 0 25px;
    font-size: 17px;
}

.welcome-content a {
    margin-top: 15px;
}

/*  --------------------------------------------------------------
Welcome End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
About Us  
--------------------------------------------------------------   */

.about-details {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.about-content {
    margin-bottom: 30px;
}

.about-content p {
    margin-bottom: 30px;
}

.about-overview-list .progress {
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 0px;
    padding: 1px;
    margin-bottom: 20px;
}

.about-overview-list .progress-bar {
    background-color: rgb(0, 0, 0);
}

.about-overview-list:nth-child(1) .progress-bar {
    width: 95%;
}

.about-overview-list:nth-child(2) .progress-bar {
    width: 90%;
}

.about-overview-list:nth-child(3) .progress-bar {
    width: 95%;
}

.about-overview-list:nth-child(4) .progress-bar {
    width: 85%;
}

.about-overview-list:nth-child(5) .progress-bar {
    width: 90%;
}

.about-overview-list small {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*  --------------------------------------------------------------
About Us End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Portfolio  
--------------------------------------------------------------   */

.portfolio-bg {
    background: url('../images/background/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-content {
    /* padding-top: 100px;
    padding-bottom: 50px; */
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: rgba(229, 229, 229, 0.42);
}

.portfolio-filter-bg {
    background-color: #000;
    padding: 20px;
}

.portfolio-menu {
    background-color: #1d1d1d;
    padding: 30px;
}

.portfolio-menu button {
    margin: 20px;
}

.grid-sizer,
.grid-item {
    width: 25%;
}

.grid-item img {
    width: 100%;
}

.grid-item .caption {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.70);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.grid-item:hover .caption {
    opacity: 1;
}

.grid-item .caption-heading {
    width: 100%;
    height: 120px;
}

.grid-item .caption-heading,
.grid-item .caption-heading p {
    color: white;
}

.caption-wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.caption-heading .btn-default {
    line-height: 30px;
    font-size: 10px;
    margin-top: 8px;
}

/*  --------------------------------------------------------------
Portfolio End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Team  
--------------------------------------------------------------   */
.team-details {
    padding-top: 100px;
}

.team-content-para {
    width: 65%;
}

.team-members-img {
    height: 450px;
}

.team-members-heading {
    letter-spacing: 0;
}

/*  --------------------------------------------------------------
Team End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Services  
--------------------------------------------------------------   */

.service-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 400px;
}

.service-bg-img.bg1 {
    background-image: url('../images/services/1.jpg');
}

.service-bg-img.bg2 {
    background-image: url('../images/services/1.jpg');
}

.service-bg-img.bg3 {
    background-image: url('../images/services/1.jpg');
}

.service-bg-img.bg4 {
    background-image: url('../images/services/1.jpg');
}

.service-bg-img.bg5 {
    background-image: url('../images/services/1.jpg');
}

.service-heading-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 400px;
}

.service-content {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    padding: 50px;
    z-index: 2;
}

.service-content-list {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.service-content .decroation {
    width: 100px;
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*  --------------------------------------------------------------
Services End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Testimonials  
--------------------------------------------------------------   */

.testimonials-details {
    background-color: #1d1d1d;
    padding: 55px 0px;
}

.testimonials-content {
    padding-top: 35px;
    padding-left: 15px;
}

.testimonials-carousel-content {
    padding: 50px 50px 0px;
}

.testimonials-carousel-content p {
    color: #e7e7e7;
}

.testimonials-carousel-content h4 {
    color: #898989;
    letter-spacing: 0;
    font-size: 16px;
    text-transform: capitalize;
}

/*  --------------------------------------------------------------
Testimonials End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Contact  
--------------------------------------------------------------   */

.contact-details {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .contact-content-icons {
} */

.contact-content-info {
    margin-left: -20px;
}

.contact-content-social-icons {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 1.25em;
    margin-right: 2px;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.contact-content-form {
    height: 50px;
    padding: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    border: 5px solid #000;
    background: transparent;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    font-size: 12px;
    font-family: 'montserrat', sans-serif;
    color: #000;
    letter-spacing: 1px;
    border-radius: 0px;
}

.contact-content-form:focus {
    color: #000;
    border-color: #000;
    box-shadow: none;
}

/*  --------------------------------------------------------------
Contact End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Footer Logo  
--------------------------------------------------------------   */

.footer-logo-bg {
    background-color: #000;
    padding: 70px;
}

/*  --------------------------------------------------------------
Footer Logo End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Footer  
--------------------------------------------------------------   */

.footer {
    background-color: #000;
}

.footer-details {
    padding: 50px;
    margin: 0 auto;
}

.backtotop a,
.backtotop a:hover {
    color: #fff;
}

.footerSocialIcons {
    list-style: none;
    padding: 20px;
}

.footerSocialIcons li {
    display: inline;
    margin: 0 10px;
}

.footerSocialIcons li a {
    color: #a5a5a5;
}

.footer p {
    color: #a5a5a5;
    font-size: 12px;
}

/*  --------------------------------------------------------------
Footer End 
--------------------------------------------------------------   */

/*  --------------------------------------------------------------
Modal Popup  
--------------------------------------------------------------   */

.modal-details {
    padding-left: 25px;
    padding-right: 25px;
}

.overlay-top {
    padding: 30px 0px;
}

.overlay-section {
    padding: 30px 0px;
}

.overlay-section-header .overlay-section-btn {
    padding: 20px 0px;
}

.overlay-section-header .decorators-img {
    padding: 30px 0px;
}

.overlay-section-details {
    padding: 10px 0px 65px;
}

/*  --------------------------------------------------------------
Modal Popup End 
--------------------------------------------------------------   */